src/main/mule/product-data-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="product-data-api-main">
        <http:listener config-ref="product-data-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="product-data-api-config" />
		<error-handler ref="global_error_handlerError_Handler" />
    </flow>
    <flow name="put:\product-details:application\json:product-data-api-config">
		<logger level="INFO" doc:name="Start Logger" doc:id="ea232aa0-4016-42cd-b1e9-bb6894f5b221" message="#[payload]"/>
		<flow-ref doc:name="upsert Flow Reference" doc:id="6a3d5cfe-aa81-47c8-ae06-6e83d9d87e34" name="upsert" />
		<logger level="INFO" doc:name="End Logger" doc:id="0371abe6-3815-4214-8768-4c5d462cfd68" message="-----put:\product-details:application\json:product-data-api-config----End Logger"/>
    </flow>
    <flow name="delete:\product-details:product-data-api-config">
		<logger level="INFO" doc:name="Start Logger" doc:id="1efe4564-88e1-4c58-a446-5e4c196dcac3" message="#[payload]" />
		<flow-ref doc:name="delete Flow Reference" doc:id="da00c2ca-79f1-46bb-9f81-359ba0d26864" name="delete" />
		<logger level="INFO" doc:name="End Logger" doc:id="f27f5b4d-6722-4b8b-a5d6-346631e82883" message="-----delete:\product-details:product-data-api-config----End Logger" />
    </flow>
    <flow name="get:\product-details:product-data-api-config">
		<logger level="INFO" doc:name="Start Logger" doc:id="119ce047-15f3-4fd0-8745-93911e8d8dfb" message="#[payload]" />
		<flow-ref doc:name="fetch Flow Reference" doc:id="f2abb621-3bfa-4fb3-a3c9-52e09d3ccf23" name="fetch" />
		<logger level="INFO" doc:name="End Logger" doc:id="ff8fc9c3-67dc-455c-a43c-4f17b2ffeeeb" message="-----get:\product-details:product-data-api-config----End Logger" />
    </flow>
</mule>
